/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

/* Global styles */
* {
  box-sizing: border-box;
}

.container.faq-container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

/* Accordion styles */
.accordion .accordion-item {
  border: 1px solid #e5e5e5; /* Increase border width */
  padding: 1em; /* Adjust padding for space around the content */
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
  transition: transform 0.3s; /* Added transition for smoother animation */
}

.accordion button[aria-expanded='true'] + .icon::after {
  transform: rotate(90deg); /* Rotate the plus icon to a minus icon when expanded */
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
